<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="xmlConfiguration" class="org.NalluriAlekya.IOCConfiguration.XMLBasedConfiguration"/>
    <bean id="message" class="org.NalluriAlekya.DI.Message"/>
    <bean id="constructorBasedDI" class="org.NalluriAlekya.DI.ConstructorBasedDI">
        <constructor-arg ref="message"/>
    </bean>
    <bean id="setterBasedDI" class="org.NalluriAlekya.DI.SetterBasedDI">
        <property name="message" ref="message"/>
    </bean>

</beans>